body {
color: #9C0F48;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 200
}

h1{
color: #c71585;
  font-size: 5.625rem;
  font-family: 'Sacramento',cursive;
padding: 10px 20px 10px 20px;

}
h2{
  color: #c71585;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;

}

h3{
color:#c71585;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
      font-weight: normal;
padding: 10px 20px 10px 20px;


}


hr {
  border:dotted #C1A3A3  6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}
p{
  line-height: 2;
  color:#c71585;
}


.top-container {
  background-color: #FCDEC0;
  position: relative;
  padding-top: 100px;
}

.middle-container{
background-color: #FCDEC0;
padding: 10px 20px 10px 20px;
}
.bottom-container{
background-color: #FCDEC0;
padding: 10px 20px 10px 20px;

}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
padding: 10px 20px 10px 20px;
  text-align: left;
  color: #470D21;

}
.intro{
  width: 30%;
  margin: auto;
}

.contact-me{
  width: 40%;
  margin: 40px auto 60px;
  padding: 10px 20px 10px 20px;
}

div{
  background-color: #FCDEC0;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left:300px;
  bottom:300px;
}
.wrld-img {
  width: 25%;
  float:left;
  margin-right:20%
  padding: 10px 20px 10px 20px;
}
.code-img {
  width: 25%;
  float: right;
  margin-left:20%;
  padding: 10px 20px 10px 20px;
}



.btn {
  background: #d934c0;
  background-image: -webkit-linear-gradient(top, #d934c0, #b82b47);
  background-image: -moz-linear-gradient(top, #d934c0, #b82b47);
  background-image: -ms-linear-gradient(top, #d934c0, #b82b47);
  background-image: -o-linear-gradient(top, #d934c0, #b82b47);
  background-image: linear-gradient(to bottom, #d934c0, #b82b47);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #e821b3;
  background-image: -webkit-linear-gradient(top, #e821b3, #eb6ca5);
  background-image: -moz-linear-gradient(top, #e821b3, #eb6ca5);
  background-image: -ms-linear-gradient(top, #e821b3, #eb6ca5);
  background-image: -o-linear-gradient(top, #e821b3, #eb6ca5);
  background-image: linear-gradient(to bottom, #e821b3, #eb6ca5);
  text-decoration: none;
}
